{% extends "layout.html" %}
{% block content %}
  <body>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th scope="col">Your Saved Videos</th>
          </tr>
        </thead>
        <tbody>
          {% for vid in vid_list %}
            <tr>
              <td>
                <video width="320" height="240" controls src="{{ url_for('static', filename='videos/' + vid) }}"></video>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
{% endblock content %}
